# 2D - Multi Class Classification

### Mounting drive, initialising imports and libraries

In [9]:
import os
import numpy as np
import warnings
warnings.filterwarnings("ignore")
from keras.wrappers.scikit_learn import KerasClassifier
import pandas as pd
import matplotlib.pyplot as plt
from keras.models import Model, load_model
from sklearn.model_selection import KFold
from keras.layers import Input, Dense
from keras.callbacks import ModelCheckpoint, TensorBoard,EarlyStopping,Callback
from keras import regularizers
from sklearn.metrics import confusion_matrix, f1_score, recall_score
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import  train_test_split
from sklearn.preprocessing import LabelEncoder
from keras.utils import np_utils
from google.colab import drive
from keras.models import Sequential
from keras.layers import Dense,Dropout, Flatten
from keras.wrappers.scikit_learn import KerasClassifier
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import StratifiedKFold
from keras.optimizers import Adam,sgd
from sklearn.metrics import mean_absolute_error
from keras import layers, metrics
import keras
from sklearn.metrics import classification_report, confusion_matrix
from keras.utils.np_utils import to_categorical
import tensorflow as tf
from tensorflow import keras
import keras
import datetime
from keras.layers import *
try:
  # %tensorflow_version only exists in Colab.
  %tensorflow_version 2.x
except Exception:
  pass
%load_ext tensorboard

from google.colab import drive
drive.mount('/content/drive')
path = "/content/drive/My Drive/dataset_2D.csv"
data = pd.read_csv(path, sep=',')

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard
Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

### Building Keras Model

In [19]:
data

          RI     Na    Mg    Al     Si     K    Ca    Ba    Fe  Type
1    1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.00  0.00     1
2    1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.00  0.00     1
3    1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.00  0.00     1
4    1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.00  0.00     1
5    1.51596  12.79  3.61  1.62  72.97  0.64  8.07  0.00  0.26     1
..       ...    ...   ...   ...    ...   ...   ...   ...   ...   ...
209  1.51623  14.14  0.00  2.88  72.61  0.08  9.18  1.06  0.00     7
210  1.51685  14.92  0.00  1.99  73.06  0.00  8.40  1.59  0.00     7
211  1.52065  14.36  0.00  2.02  73.42  0.00  8.44  1.64  0.00     7
212  1.51651  14.38  0.00  1.94  73.61  0.00  8.48  1.57  0.00     7
213  1.51711  14.23  0.00  2.08  73.36  0.00  8.62  1.67  0.00     7

[213 rows x 10 columns]

In [24]:
X = data[:,0:9].astype(float)
Y = data[:,9]
from keras.utils.np_utils import to_categorical
encoder = LabelEncoder() #OneHotEncoding
encoder.fit(Y)
encoded_Y = encoder.transform(Y)
dummy_y = to_categorical(encoded_Y) 
m = keras.Sequential() #CompilingModel
m.add(Dense(10, input_dim = 9,activation ='relu'))
m.add(Dropout(0.001))
m.add(Dense(8, activation='relu'))
m.add(Dense(6,activation='softmax'))
m.summary()
m.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])

TypeError: ignored

Plot to check model flow

In [0]:
keras.utils.plot_model(m, "glass.png", show_shapes=True)